@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


html {
    font-size: 10px;
}

body {
    font-size        : 1.6rem;
    font-family      : 'Signika', sans-serif;
    color            : #555;
    padding-top      : 7rem;
    padding-bottom   : 0;
    /* padding-bottom   : 5rem; */
}

@media screen and (min-width: 992px) {
    body {
        padding-top   : 0rem;
        padding-bottom: 0rem;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
}

ul {
    list-style: none;
    padding   : 0;
    margin    : 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    margin-top   : 0;
}

p {
    margin-top   : 0;
    margin-bottom: 0;
}

* {
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}

.enquire-now-simple {
    display         : inline-block;
    padding-left    : 0.5rem 1rem;
    padding-right   : 0.5rem;
    background-color: #13c7b8;
    color           : white;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select  : none;
    user-select          : none;
    -moz-user-select     : none;
    -ms-user-select      : none;
}



/* sc------------------------- */

/* @import "base/base.css"; */
.incaspath-menu {
    background-color: white;
    color           : white;
    display         : none;
}

@media screen and (min-width: 992px) {
    .incaspath-menu {
        display: block;
    }
}

.incaspath-menu__upper {
    min-height   : 10rem;
    display      : -webkit-box;
    display      : -ms-flexbox;
    display      : flex;
    -ms-flex-wrap: wrap;
    flex-wrap    : wrap;
}

@media screen and (min-width: 768px) {
    .incaspath-menu__upper {
        -webkit-box-pack : justify;
        -ms-flex-pack    : justify;
        justify-content  : space-between;
        -webkit-box-align: center;
        -ms-flex-align   : center;
        align-items      : center;
    }
}

.incaspath-menu .lang-icon span {
    display: none;
}

@media screen and (min-width: 992px) {
    .incaspath-menu .lang-icon span {
        display: inline-block;
    }
}

.incaspath-menu__logo {
    color        : black;
    font-family  : "Poppins", sans-serif;
    font-size    : 3rem;
    font-weight  : 700;
    margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
    .incaspath-menu__logo {
        margin-bottom: 0;
    }
}

.incaspath-menu__logo img {
    height  : 6rem;
    display : block;
    overflow: hidden;
    width   : 250px;
}

@media screen and (min-width: 992px) {
    .incaspath-menu__logo img {
        height: 8rem;
    }
}

.incaspath-menu__upper-elements {
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -ms-flex-wrap        : wrap;
    flex-wrap            : wrap;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
    -webkit-box-pack     : justify;
    -ms-flex-pack        : justify;
    justify-content      : space-between;
    color                : black;
    height               : 100%;
    font-family          : "Poppins", sans-serif;
}

.incaspath-menu__upper-elements a {
    font-family: "Poppins", sans-serif;
    color      : #888;
}

.incaspath-menu__upper-elements ul {
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-align    : center;
    -ms-flex-align       : center;
    align-items          : center;
    -ms-flex-wrap        : wrap;
    flex-wrap            : wrap;
    -webkit-box-pack     : center;
    -ms-flex-pack        : center;
    justify-content      : center;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
}

@media screen and (min-width: 992px) {
    .incaspath-menu__upper-elements ul {
        -webkit-box-orient   : horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction   : row;
        flex-direction       : row;
        -webkit-box-pack     : end;
        -ms-flex-pack        : end;
        justify-content      : flex-end;
    }
}

.incaspath-menu__upper-elements ul li {
    font-family: "Poppins", sans-serif;
}

.incaspath-menu__upper-elements ul li:not(:first-child) {
    margin-left: 1.25rem;
}

.incaspath-menu__upper-elements ul li.separator {
    border-right: 1px solid black;
    height      : 30%;
}

.incaspath-menu .lang-icon {
    position    : relative;
    padding-left: 2.5rem;
}

.incaspath-menu .lang-icon::before {
    content            : "";
    position           : absolute;
    left               : 0;
    top                : 0;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center center;
    width              : 2rem;
    height             : 2rem;
}


/* languages */
.incaspath-menu .lang-icon.en::before {
    background-image: url(../languages/english-icon.svg);
}

.incaspath-menu .lang-icon.es::before {
    background-image: url(../languages/spanish-icon.svg);
}

.incaspath-menu__upper-list {
    font-size: 1.2rem;
    height   : 4rem;
}

.incaspath-menu__upper-list a:hover {
    text-decoration: underline;
}

.incaspath-menu__down-list {
    font-size       : 1.4rem;
    -webkit-box-flex: 1;
    -ms-flex        : 1;
    flex            : 1;
    font-family     : "Poppins", sans-serif;
}

.incaspath-menu__down-list a {
    color: black;
}

.incaspath-menu a.cta-contact-us {
    color           : white;
    background-color: #13c7b8;
    display         : inline-block;
    padding         : 0.8rem 1.2rem;
    border-radius   : 5px;
}

.incaspath-menu span.cta-contact-us {
    color           : white;
    background-color: #13c7b8;
    display         : inline-block;
    padding         : 0.8rem 1.2rem;
    border-radius   : 5px;
}

.incaspath-menu .menu-icon {
    position: relative;
    display : inline-block;
    padding : 0.8rem 1.2rem 0.8rem 3rem;
}

.incaspath-menu .menu-icon::before {
    font-family: "Font Awesome 5 Free";
    content    : "";
    position   : absolute;
    height     : 100%;
    width      : 3rem;
    top        : 0;
    left       : 0;
    font-size  : 2.4rem;
}

.incaspath-menu .menu-icon.date::before {
    content: "\f133";
    color  : #13c7b8;
}

.incaspath-menu .menu-icon.phone::before {
    content    : "\f879";
    font-weight: 900;
    color      : #13c7b8;
}

.incaspath-menu__nav {
    background-color   : black;
    /* position        : relative; */
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
    z-index : 100;
    top     : 0;
    width   : 100%;

    transition: background 0.4s ease-in-out;
    background: #0e0d0d solid !important;
}


.incaspath-menu__nav--primary {
    width                : 100%;
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
    list-style           : none;
    -webkit-box-pack     : justify;
    -ms-flex-pack        : justify;
    justify-content      : space-between;
}

@media screen and (min-width: 992px) {
    .incaspath-menu__nav--primary {
        -webkit-box-orient   : horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction   : row;
        flex-direction       : row;
    }
}

@media screen and (min-width: 1200px) {
    .incaspath-menu__nav--primary {
        -webkit-box-pack: center;
        -ms-flex-pack   : center;
        justify-content : center;
    }
}

.incaspath-menu__nav--primary>li:last-child {
    display         : none;
    margin-left     : auto;
    background-color: #13c7b8;
}

.incaspath-menu__nav--primary>li:hover .incaspath-menu__nav--grid {
    display: block;
}

.incaspath-menu__nav--primary>li:hover>a::after,
.incaspath-menu__nav--primary>li:hover>span::after {
    content         : "";
    width           : 100%;
    height          : 2px;
    background-color: #13c7b8;
}

.incaspath-menu__nav--primary>li>a,
.incaspath-menu__nav--primary>li>span {
    color             : white;
    font-family       : "Poppins", sans-serif;
    text-transform    : uppercase;
    line-height       : 7rem;
    display           : inline-block;
    -webkit-transition: 0.3s;
    transition        : 0.3s;
    position          : relative;
    font-size         : 1.1rem;
    padding-left      : 1rem;
    padding-right     : 1.5rem;
}

@media screen and (min-width: 1200px) {

    .incaspath-menu__nav--primary>li>a,
    .incaspath-menu__nav--primary>li>span {
        letter-spacing: 1px;
        font-size     : 1.1rem;
        padding-left  : 1rem;
        padding-right : 2.1rem;
    }
}

.incaspath-menu__nav--primary>li>a::before,
.incaspath-menu__nav--primary>li>span::before {
    position   : absolute;
    content    : "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size  : 1rem;
    right      : 0;
}

.incaspath-menu__nav--primary>li>a:hover::before,
.incaspath-menu__nav--primary>li>span:hover::before {
    position : absolute;
    content  : "\f00d";
    font-size: 1.4rem;
    color    : #13c7b8;
}

@media screen and (min-width: 1200px) {

    .incaspath-menu__nav--primary>li>a::before,
    .incaspath-menu__nav--primary>li>span::before {
        right: 1rem;
    }
}

.incaspath-menu__nav--primary>li>a::after,
.incaspath-menu__nav--primary>li>span::after {
    position          : absolute;
    content           : "";
    width             : 100%;
    height            : 0px;
    left              : 0;
    bottom            : 0;
    background-color  : #13c7b8;
    -webkit-transition: 0.3s;
    transition        : 0.3s;
}

.incaspath-menu__nav--primary>li>a:hover,
.incaspath-menu__nav--primary>li>span:hover {
    background-color: #222;
}

.incaspath-menu__nav--primary>li>a:hover::after,
.incaspath-menu__nav--primary>li>span:hover::after {
    height: 4px;
}

.incaspath-menu__nav--grid {
    background-color  : white;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    box-shadow        : 0px 0px 20px rgba(0, 0, 0, 0.5);
    display           : none;
    position          : absolute;
    width             : 100%;
    left              : 0;
    z-index           : 100;
    padding-top       : 5rem;
    padding-bottom    : 5rem;
    color             : #555;
}

.incaspath-menu__nav--grid .container_per>.row>div {
    padding-left : 4rem;
    padding-right: 4rem;
    position     : relative;
}

.incaspath-menu__nav--grid .container_per>.row>div:first-child {
    padding-left: 0;
}

.incaspath-menu__nav--grid .container_per>.row>div:last-child {
    padding-right: 0;
}

.incaspath-menu__nav--grid .container_per>.row>div+div::before {
    content    : "";
    position   : absolute;
    left       : 0;
    top        : 5%;
    height     : 90%;
    border-left: 1px solid #f0f0f0;
    border-left: 1px solid #ccc;
    border-left: 2px solid #f0f0f0;
}

.incaspath-menu__nav--secondary {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -ms-flex-wrap    : wrap;
    flex-wrap        : wrap;
    height           : 100%;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    font-size        : 1.7rem;
    text-transform   : uppercase;
    font-weight      : 700;
}

.incaspath-menu__nav--secondary>li {
    display      : block;
    width        : calc((100% - 4rem) / 3);
    margin-right : 2rem;
    margin-bottom: 2rem;
}

.incaspath-menu__nav--secondary>li:nth-child(3n) {
    margin-right: 0;
}

.incaspath-menu__nav--tertiary {
    display         : -webkit-box;
    display         : -ms-flexbox;
    display         : flex;
    -ms-flex-wrap   : wrap;
    flex-wrap       : wrap;
    height          : 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack   : justify;
    justify-content : space-between;
    -webkit-box-pack: center;
    -ms-flex-pack   : center;
    justify-content : center;
    font-size       : 1.7rem;
    text-transform  : uppercase;
    font-weight     : 700;
}

.incaspath-menu__nav--tertiary>li {
    display: block;
    width  : 18rem;
}

.incaspath-menu__nav--tertiary>li+li {
    margin-left: 3rem;
}

.incaspath-menu__nav .menu-inner-title {
    position      : relative;
    font-family   : "Poppins", sans-serif;
    font-family   : "Roboto", sans-serif;
    color         : #333;
    font-size     : 1.5rem;
    text-transform: uppercase;
    padding-top   : 1rem;
    padding-bottom: 1rem;
    margin-bottom : 2rem;
    font-weight   : 400;
}

.incaspath-menu__nav .menu-inner-title::before {
    content      : "";
    position     : absolute;
    width        : 100%;
    border-bottom: 1px solid #f0f0f0;
    bottom       : 0;
    left         : 0;
}

.incaspath-menu__nav .menu-inner-title::after {
    content      : "";
    position     : absolute;
    border-bottom: 1px solid #13c7b8;
    width        : 20rem;
    bottom       : 0;
    left         : 0;
}

.incaspath-menu__nav .menu-inner-description {
    font-size : 1.4rem;
    color     : #888;
    text-align: justify;
}

.incaspath-menu__nav .menu-image-wrapper {
    width  : 100%;
    padding: 1rem;
}

.incaspath-menu__nav .menu-inner-image {
    position     : relative;
    width        : 100%;
    padding-top  : calc(100% * 2 / 3);
    overflow     : hidden;
    border-radius: 1rem;
}

.incaspath-menu__nav .menu-inner-image img {
    position     : absolute;
    width        : 100%;
    height       : 100%;
    top          : 0;
    left         : 0;
    -o-object-fit: cover;
    object-fit   : cover;
}

.incaspath-menu__nav .menu-inner-image.square {
    padding-top: 100%;
}

.incaspath-menu__nav .menu-inner-image.cinema {
    padding-top: calc(100% * 9 / 16);
}

.incaspath-menu__nav .menu-inner-image.four-over-five {
    padding-top: calc(100% * 4 / 5);
}

.incaspath-menu__nav--quaternary {
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
}

.incaspath-menu__nav--quaternary>li {
    border-bottom: 1px solid #f0f0f0;
    position     : relative;
    max-width    : 35rem;
}

.incaspath-menu__nav--quaternary>li a {
    height            : 4rem;
    line-height       : 4rem;
    height            : 3.5rem;
    line-height       : 3.5rem;
    font-weight       : 400;
    color             : #888;
    font-size         : 1.3rem;
    font-family       : "Poppins", sans-serif;
    display           : block;
    position          : relative;
    -webkit-transition: 0.2s;
    transition        : 0.2s;
}

.incaspath-menu__nav--quaternary>li a::after {
    position             : absolute;
    content              : "\f101";
    /* content           : "\f061"; */
    font-weight          : 900;
    font-family          : "Font Awesome 5 Free";
    color                : #888;
    color                : #ccc;
    color                : #f0f0f0;
    color                : #bbb;
    border-radius        : 2rem;
    right                : 1rem;
    top                  : 0rem;
    font-size            : 2rem;
    color                : #13c7b8;
    width                : 0px;
    overflow             : hidden;
    -webkit-transition   : 0.2s;
    transition           : 0.2s;
    opacity              : 0;
}

.incaspath-menu__nav--quaternary>li a:hover {
    color: #13c7b8;
}

.incaspath-menu__nav--quaternary>li a:hover::after {
    width  : 2rem;
    opacity: 1;
}

.incaspath-menu__contact {
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
    -webkit-box-pack     : center;
    -ms-flex-pack        : center;
    justify-content      : center;
    -webkit-box-align    : start;
    -ms-flex-align       : start;
    align-items          : flex-start;
    padding-bottom       : 1rem;
}

.incaspath-menu__contact div {
    padding: 1rem;
}

.incaspath-menu__contact a {
    display    : inline-block;
    padding    : 0.4rem 0.8rem 0.4rem 0rem;
    line-height: 3rem;
}

.incaspath-menu__contact a.cta-enquire {
    padding         : 0.8rem 1.6rem;
    background-color: #13c7b8;
    color           : white;
    border-radius   : 0.5rem;
}

.incaspath-menu__contact a::before {
    line-height: 3rem;
}

.incaspath-menu__contact a.cta-toll {
    position: relative;
}

.incaspath-menu__contact a.cta-toll::before {
    content         : "\f879";
    font-family     : "Font Awesome 5 Free";
    display         : inline-block;
    margin-right    : 1rem;
    left            : 0;
    font-weight     : 900;
    font-size       : 2rem;
    color           : #13c7b8;
    background-color: white;
}

.incaspath-menu__contact a.cta-phone {
    display: inline-block;
}

.incaspath-menu__contact a.cta-phone::before {
    content         : "\f879";
    font-family     : "Font Awesome 5 Free";
    display         : inline-block;
    margin-right    : 1rem;
    left            : 0;
    font-weight     : 900;
    font-size       : 2rem;
    color           : #13c7b8;
    background-color: white;
}


.menu-inner-cta-wrapper {
    margin-top      : 4rem;
    display         : -webkit-box;
    display         : -ms-flexbox;
    display         : flex;
    -webkit-box-pack: end;
    -ms-flex-pack   : end;
    justify-content : flex-end;
}

.menu-inner-cta-wrapper.center {
    -webkit-box-pack: center;
    -ms-flex-pack   : center;
    justify-content : center;
}

.menu-inner-cta {
    height       : 3rem;
    min-width    : 12rem;
    display      : inline-block;
    padding      : 0rem 1rem;
    font-size    : 1.4rem;
    border       : 1px solid #13c7b8;
    color        : #13c7b8;
    font-family  : "Poppins", sans-serif;
    color        : #13c7b8;
    text-align   : center;
    border-radius: 3rem;
    line-height  : 2.8rem;
}

.menu-inner-cta:hover {
    color: #13c7b8;

}

/* vista movil */

.st-menu-mobile {
    -webkit-box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    box-shadow        : 0px 0px 6px rgba(255, 255, 255, 0.5);
    position          : fixed;
    width             : 100%;
    left              : 0;
    top               : 0;
    background-color  : forestgreen;
    z-index           : 99;
}

@media screen and (min-width: 992px) {
    .st-menu-mobile {
        display: none;
    }
}

.st-menu-mobile__bar {
    background-color  : yellow;
    background-color  : white;
    z-index           : 999;
    position          : relative;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow        : 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.st-menu-mobile__bar-content {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    -webkit-box-pack : justify;
    -ms-flex-pack    : justify;
    justify-content  : space-between;
    height           : 7rem;
}

.st-menu-mobile .main-logo {
    height  : 5rem;
    display : block;
    overflow: hidden;
}

.st-menu-mobile .main-logo img {
    height: 100%;
    width : auto;
}

.st-menu-mobile .upper-links {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
}

.st-menu-mobile .upper-links li {
    border-left: 1px solid #eee;
    text-align : center;
}

.st-menu-mobile .upper-links .menu-icon {
    width: 4rem;
}

.st-menu-mobile .upper-links a {
    font-size  : 1.4rem;
    color      : #ccc;
    display    : block;
    height     : 3rem;
    line-height: 3rem;
}

.st-menu-mobile__navigation {
    width             : 100%;
    background-color  : white;
    height            : calc(100vh - 70px);
    position          : fixed;
    top               : 70px;
    right             : 0;
    left              : 0;
    -webkit-transform : translateY(7rem);
    transform         : translateY(7rem);
    -webkit-transition: 0.4s;
    transition        : 0.4s;
    z-index           : 100;
    overflow-x        : hidden;
    overflow-y        : auto;
    text-align        : center;
    visibility        : hidden;
    -webkit-transition: 0.3s;
    transition        : 0.3s;
    opacity           : 0;
}

.st-menu-mobile__navigation.active {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
    visibility       : visible;
    opacity          : 1;
}

.st-menu-mobile__list {
    margin-top           : 2rem;
    margin-bottom        : 2rem;
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
    width                : 100%;
}

.st-menu-mobile__list a {
    display           : block;
    width             : 100%;
    -webkit-transition: 0.3s;
    transition        : 0.3s;
    font-family       : "Poppins", sans-serif;
    color             : #888;
}

.st-menu-mobile__list>li {
    text-transform  : uppercase;
    font-size       : 1.8rem;
    font-weight     : 700;
    letter-spacing  : 1px;
    background-color: white;
}

.st-menu-mobile__list>li.has-children>a {
    position: relative;
}

.st-menu-mobile__list>li.has-children>a::after {
    content           : "\f078";
    font-family       : "Font Awesome 5 Free";
    font-weight       : 900;
    font-size         : 1.2rem;
    line-height       : 5rem;
    position          : absolute;
    right             : 1rem;
    top               : 0;
    -webkit-transition: 0.3s;
    transition        : 0.3s;
}

.st-menu-mobile__list>li.has-children.active-menu-item>a {
    color: #13c7b8;
}

.st-menu-mobile__list>li.has-children.active-menu-item>a::after {
    -webkit-transform: rotate(180deg);
    transform        : rotate(180deg);
}

.st-menu-mobile__list>li>a {
    line-height: 5rem;
}

.st-menu-mobile__list>li.cta-enquire {
    background-color: #13c7b8;
}

.st-menu-mobile__list>li.cta-enquire a {
    color: white;
}

.st-menu-mobile__list.dark {
    background-color: green;
}

.st-menu-mobile__list.dark>li {
    background-color: black;
}

.st-menu-mobile__list.dark>li:hover {
    background-color: #333;
}

.st-menu-mobile__sub-list {
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
    background-color     : #f8f8f8;
    max-height           : 0;
    overflow             : hidden;
    -webkit-transition   : 0.5s;
    transition           : 0.5s;
}

.st-menu-mobile__sub-list>li {
    font-size     : 1.4rem;
    text-transform: none;
}

.st-menu-mobile__sub-list>li:first-child {
    margin-top: 1rem;
}

.st-menu-mobile__sub-list>li:last-child {
    margin-bottom: 1rem;
}

.st-menu-mobile__sub-list>li>a {
    line-height: 4rem;
}

.st-menu-mobile__sub-list>li>a:hover {
    text-decoration: underline;
}

.st-menu-mobile__contact {
    display       : block;
    text-transform: none;
    font-size     : 1.4rem;
    text-align    : center;
    font-weight   : 400;
    width         : 100%;
}

.st-menu-mobile__contact>li {
    font-family: "Roboto", sans-serif;
    padding    : 1rem 0;
    width      : 100%;
    width      : 100%;
}

.st-menu-mobile__contact>li a.cta-phone {
    font-family: "Poppins", sans-serif;
    font-size  : 1.6rem;
    font-weight: 700;
    display    : block;
    width      : 100%;
    color      : #333;
    color      : #888;
}

.st-menu-mobile__contact>li a.cta-phone span {
    position    : relative;
    display     : inline-block;
    padding-left: 2rem;
}

.st-menu-mobile__contact>li a.cta-phone span::before {
    content    : "\f879";
    position   : absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color      : #13c7b8;
    left       : 0;
}

.st-menu-mobile__contact>li:first-child {
    border-top: 1px solid #f0f0f0;
}

.st-menu-mobile__contact>li.label {
    font-weight: 400;
}

.st-menu-mobile__contact>li+li {
    border-top: 1px solid #f0f0f0;
}

#toggle {
    width            : 4rem;
    width            : 3.4rem;
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-pack : center;
    -ms-flex-pack    : center;
    justify-content  : center;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    padding-left     : 1rem;
}

#toggle .hamburger-icon {
    position          : relative;
    display           : inline-block;
    width             : 100%;
    height            : 3px;
    height            : 2px;
    border-radius     : 2px;
    background-color  : #333;
    -webkit-transition: 0.3s;
    transition        : 0.3s;
}

#toggle .hamburger-icon::before,
#toggle .hamburger-icon::after {
    position                : absolute;
    background-color        : #333;
    content                 : "";
    -webkit-transform-origin: center center;
    transform-origin        : center center;
    border-radius           : 2px;
    height                  : 3px;
    height                  : 2px;
    width                   : 100%;
    right                   : 0;
    -webkit-transition      : 0.3s;
    transition              : 0.3s;
}

#toggle .hamburger-icon::before {
    top: -8px;
    top: -6px;
}

#toggle .hamburger-icon::after {
    top: 8px;
    top: 6px;
}

#toggle .hamburger-icon.active {
    -webkit-transform: rotate(135deg);
    transform        : rotate(135deg);
}

#toggle .hamburger-icon.active::before,
#toggle .hamburger-icon.active::after {
    top              : 0px;
    -webkit-transform: rotate(90deg);
    transform        : rotate(90deg);
}


.container_per {
    width        : 100%;
    padding-right: 50px;
    padding-left : 50px;
    margin-right : auto;
    margin-left  : auto;
    text-align   : justify;
}


/*================== banner =================*/
/* .banner {
    padding: 58vh 0;
    width  : 100%;
    height : 100vh;
    background: linear-gradient(rgba(21, 76, 172, 0.3), rgba(21, 76, 172, 0.3)),
        url("../img/Travel-To-Machu-Picchu-Tour-Incas-Path.jpg") center center/cover;
    background-size: cover;
    justify-self   : center;
} */

.banner-slider .swiper-banner {
    width        : 100%;
    height       : 100%;
    /* background: rgba(21, 76, 172, 0.3); */
}

.banner-slider .swiper-slide {

    text-align: center;
    font-size : 18px;
    background: #fff;

    /* Center slide text vertically */
    display                : -webkit-box;
    display                : -ms-flexbox;
    display                : -webkit-flex;
    display                : flex;
    -webkit-box-pack       : center;
    -ms-flex-pack          : center;
    -webkit-justify-content: center;
    justify-content        : center;
    -webkit-box-align      : center;
    -ms-flex-align         : center;
    -webkit-align-items    : center;
    align-items            : center;
    border-radius          : 0;
}




.banner-slider {
    position        : relative;
    width           : 100%;
    min-height      : 100vh;
    display         : flex;
    justify-content : center;
    flex-direction  : column;
    background-color: #13c7b8;
}

.banner-slider-sticky {
    padding-top: 88px;
}

.banner-slider .swiper-wrapper .swiper-slide {
    width    : 100%;
    clip-path: circle(0% at 0 90%);
}

.banner-slider .swiper-wrapper .swiper-slide-active {
    clip-path          : circle(150% at 0 50%);
    transition         : 2s;
    transition-property: clip-path;
}

.banner-slider .swiper-wrapper .swiper-slide .img-slide {
    width                : 100vw;
    height               : 100vh;
    /* background        : #13c7b8; */
    overflow             : hidden;
    display              : flex;
    /* justify-content   : center; */
    align-items          : center;

}

.banner-slider .swiper-wrapper .swiper-slide .img-slide img {
    width : 100%;
    height: 100%;
    filter: brightness(0.3);
}

.banner-slider .swiper-wrapper .swiper-slide .img-slide video {
    filter    : brightness(0.4);
    object-fit: cover;
}


.banner-slider .swiper-wrapper .swiper-slide .img-slide .content {
    position    : absolute;
    top         : 0;
    padding     : 15px 30px;
    padding-left: 55px;
    color       : #fff;
    width       : 50%;
    margin-top  : 150px;
}

.banner-slider .content h1 {
    font-size     : 3em;
    font-weight   : 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height   : 75px;
    margin-bottom : 40px;
    position      : relative;
}

.banner-slider .content h1 span {
    font-size  : 1.1em;
    font-weight: 600;
}

.banner-slider .content p {
    margin-bottom: 65px;
    text-align   : justify;
    position     : relative;
}

.banner-slider .content a {
    background     : #fff;
    padding        : 15px 35px;
    color          : #1680AC;
    font-size      : 1.1em;
    font-weight    : 500;
    text-decoration: none;
    border-radius  : 2px;
}

.banner-slider .media-icons {
    z-index       : 1;
    position      : absolute;
    right         : 30px;
    display       : flex;
    flex-direction: column;
    transition    : 0.5s ease;
}

.banner-slider .media-icons a {
    color     : #fff;
    font-size : 1.6em;
    transition: 0.3s ease;
}

.banner-slider .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.banner-slider .media-icons a:hover {
    transform: scale(1.3);
    color    : #2696E9;
}

/* botones de paginacion del slider */
.banner-slider .swiper-pagination {
    margin-bottom: 12px;
}

.banner-slider .swiper-pagination span {
    width        : 12px;
    height       : 12px;
    background   : #fff;
    border-radius: 50%;
    cursor       : pointer;
    box-shadow   : 0 0 2px rgba(255, 255, 255, 0.5);
    transition   : 0
}

.banner-slider .swiper-pagination .swiper-pagination-bullet-active {
    background: #2696E9;

}

.banner-slider .swiper-pagination .swiper-pagination-bullet-active:not(:last-child) {
    margin-right: 2px;
}

.banner-slider .swiper-pagination .swiper-pagination-bullet-active:hover {
    transform: scale(1.2);
}

@media (max-width: 1200px) {
    .media-icons {
        right: 15px;
    }
}

@media (max-width: 992px) {
    .banner-slider {
        width     : 100%;
        min-height: 90vh !important;
    }

    .banner-slider-sticky {
        padding-top: 0;
    }

    .banner-slider .swiper-wrapper .swiper-slide .img-slide {
        width : 100vw;
        height: 90vh;

    }

    .banner-slider .swiper-wrapper .swiper-slide .img-slide .content {
        position    : absolute;
        top         : 0;
        padding-left: 45px;
        color       : #fff;
        width       : 60%;
        margin-top  : 100px;
    }

    .banner-slider .content h1 {
        font-size     : 2.2em;
        font-weight   : 600;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height   : 55px;
        margin-bottom : 10px;
        position      : relative;
    }

    .banner-slider .content h1 span {
        font-size  : 1em;
        font-weight: 300;
    }

    .banner-slider .media-icons {
        z-index       : 1;
        position      : absolute;
        right         : 25px;
        display       : flex;
        flex-direction: column;
        transition    : 0.5s ease;
    }

    .banner-slider .media-icons a {
        color     : #fff;
        font-size : 1.5em;
        transition: 0.3s ease;
    }

}

@media (max-width: 768px) {
    .intro {
        padding      : 8rem 0 8rem;
        padding-left : 25px !important;
        padding-right: 25px !important;
    }

    .line-title::after,
    .line-title:before {
        content            : "";
        position           : absolute;
        width              : 120px;
        height             : 3px;
        /* background-color: currentColor; */
        background-color   : #888;
        top                : 0.6em;
        /* transform       :scale(0); */
        transition         : all 0.4s ease-in;
    }

    .banner-slider .swiper-wrapper .swiper-slide .img-slide .content {
        position    : absolute;
        top         : 0;
        padding-left: 35px;
        color       : #fff;
        width       : 70%;
        margin-top  : 100px;
    }

    .banner-slider .content h1 {
        font-size  : 1.9em;
        font-weight: 600;
        line-height: 45px;
    }
}

@media (max-width: 560px) {

    /* navbar */
    .st-menu-mobile .main-logo {
        height  : 4rem;
        display : block;
        overflow: hidden;
    }

    /* banner */
    .banner-slider {
        width     : 100%;
        min-height: 90vh !important;
    }

    .banner-slider .swiper-wrapper .swiper-slide .img-slide {
        width : 100vw;
        height: 90vh;

    }

    .banner-slider .swiper-wrapper .swiper-slide .img-slide .content {
        position    : absolute;
        top         : 0;
        padding-left: 35px;
        color       : #fff;
        width       : 80%;
        margin-top  : 100px;
    }

    .banner-slider .content h1 {
        font-size     : 1.4em;
        letter-spacing: 5px;
        line-height   : 35px;
    }

    .banner-slider .media-icons {
        z-index       : 1;
        position      : absolute;
        right         : 20px;
        display       : flex;
        flex-direction: column;
        transition    : 0.5s ease;
    }

}



/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width           : .60rem;
    background-color: #e2e8e9;
}

::-webkit-scrollbar-thumb {
    background-color: #13c7b8;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #808a8c;
}

/* ==========section presentacion======== */
.intro {
    padding      : 8rem 0 8rem;
    padding-left : 150px;
    padding-right: 150px;
}

.section-presentation {
    text-align    : center;
    position      : relative;
    padding-bottom: 1em;

}


.section-title {
    font-family: "Poppins", sans-serif !important;
    font-size  : 2.3rem;
    line-height: 1.5;
    color      : #333;
}

/* titulos con estilo de linea */
.line-title {
    display : inline-block;
    position: relative;
    color   : #333;
}

.line-title::after,
.line-title:before {
    content            : "";
    position           : absolute;
    width              : 120px;
    height             : 3px;
    /* background-color: currentColor; */
    background-color   : #888;
    top                : 0.6em;
    transform          : scale(0);
    transition         : all 0.4s ease-in;
}

.line-title:hover::before,
.line-title:hover::after {
    transform: scale(1);
}

.line-title::before {
    left: -140px;
}

.line-title::after {
    right: -140px;
}

/* fin de titulos con estilo de linea */

.section-subtitle {
    font-weight: 400;
    color      : #888;
    margin-top : 1rem;
    font-size  : 1.6rem;
}

@media screen and (min-width: 992px) {
    .section-presentation.custom-left .section-title {
        text-align: left;
    }

    .section-presentation.custom-left .section-title::before {
        left: 0;
    }

    .section-presentation.custom-left .section-icon {
        left: 1rem;
    }

    .section-description {
        font-size: 1.7rem;
    }
}

.section-description {
    margin-top: 2rem;
}

.section-description>p {
    margin-top   : 1.5rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
    .section-description {
        font-size: 1.6rem;
        display  : block;
    }
}


/*=============== slider de entradas ===============*/
.slider_entradas .swiper {
    width   : 100%;
    height  : 100%;
    position: relative;
}

.slider_entradas .swiper-slide {
    text-align: center;
    font-size : 18px;

    /* Center slide text vertically */
    display                : -webkit-box;
    display                : -ms-flexbox;
    display                : -webkit-flex;
    display                : flex;
    -webkit-box-pack       : center;
    -ms-flex-pack          : center;
    -webkit-justify-content: center;
    justify-content        : center;
    -webkit-box-align      : center;
    -ms-flex-align         : center;
    -webkit-align-items    : center;
    align-items            : center;
    overflow               : hidden;
    border-radius          : 15px;

}

.slider_entradas .swiper-slide img {
    display   : block;
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}


.slider_entradas .swiper-container {
    margin-left : auto;
    margin-right: auto;
    font-family : 'Montserrat', sans-serif;
    width       : 100%;
    height      : auto;
    margin      : 15px 0 10px;

}





.slider_entradas .swiper-slide .shade {
    width : 100%;
    height: 100%;

}


.slider_entradas .swiper-slide h5 {
    position   : absolute;
    color      : #fff;
    font-size  : 15px;
    left       : 0;
    margin-left: 8px;
    text-align : left;
    line-height: 14px;
    bottom     : 11%;
}

.slider_entradas .swiper-slide h6 {
    position   : absolute;
    display    : flex;
    color      : #fff;
    font-size  : 11px;
    left       : 0;
    bottom     : 6px;
    margin-left: 8px;
    text-align : left;
    line-height: 14px;
    font-weight: 400;
}

.slider_entradas .swiper-slide h6 img {
    width       : 10px;
    height      : 10px;
    margin-right: 5px;

}

.card__destinations {

    position     : relative;
    overflow     : hidden;
    display      : block;
    width        : 300px;
    height       : 540px;
    background   : linear-gradient(rgba(3, 3, 3, 0.63), rgba(3, 3, 3, 0.63));
    border-radius: 10px;
    margin       : 3rem 0;
    box-shadow   : 0px 0px 5px #000;
    font-family  : 'Signika', sans-serif;
}

.card__destinations:hover {
    transition: 0.5s ease-in-out;
    transform : translateY(-10px);
}

.card__img-destinations {
    width        : 100%;
    height       : 100%;
    position     : absolute;
    display      : block;
    border-radius: 10px;
    z-index      : -1;
}

.card__destinations:hover .card__content {
    cursor: pointer;
    bottom: 0;
}

.card__content {

    position       : absolute;
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    bottom         : 0;
    bottom         : -16rem;
    left           : 0;
    background     : linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
    color          : white;
    padding        : 3rem 2rem;
    transition     : 0.5s;
    width          : 100%;
    height         : 100%;


}

.card__title-destinations {
    padding: 1em 1em;
}

.card__cat {
    text-align      : center;
    font-size       : 15px;
    font-weight     : 700;
    background-color: #13c7b8;
    width           : 60%;
    border-radius   : 20px;
    color           : #fff;
}

.card__body-destinations {
    margin-top: 90%;
}

.body__title {
    font-weight   : 700;
    font-size     : 20px;
    padding-bottom: 2rem;
}

.body__description {
    font-size: 14px;
}

.body__footer {
    display        : flex;
    justify-content: space-between;
    font-weight    : 700;
}

.card__icon {
    font-size: 30px;
}

.card__icon:hover {
    transform: translateX(1px) scale(1.2);
}


/* ============bg happies============= */
.bg-happiness {
    background: url("../img/home1.jpg") center center/cover;
}

.bg-dark-opacity7 {
    background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 992px) {
    .bg-happiness {
        background-attachment: fixed;
    }
}

.bg-happiness .section-presentation,
.bg-happiness .section-heading {
    margin: 0;
}

.bg-happiness.alternative .section-title {
    text-transform: uppercase;
    font-size     : 1.8rem;
}

.bg-happiness.alternative .section-icon img {
    -webkit-filter: invert(97%) sepia(100%) saturate(1%) hue-rotate(174deg) brightness(108%) contrast(101%);
    filter        : invert(97%) sepia(100%) saturate(1%) hue-rotate(174deg) brightness(108%) contrast(101%);
}

.bg-happiness .section-icon img {
    -webkit-filter: invert(97%) sepia(100%) saturate(1%) hue-rotate(174deg) brightness(108%) contrast(101%);
    filter        : invert(97%) sepia(100%) saturate(1%) hue-rotate(174deg) brightness(108%) contrast(101%);
    -webkit-filter: invert(100%) sepia(0%) saturate(7375%) hue-rotate(192deg) brightness(107%) contrast(60%);
    filter        : invert(100%) sepia(0%) saturate(7375%) hue-rotate(192deg) brightness(107%) contrast(60%);
}

.bg-happiness .section-description {
    width       : 80%;
    margin-right: auto;
    margin-left : auto;
}

.incaspath-section {
    padding-top   : 8rem;
    padding-bottom: 6rem;
}

@media screen and (min-width: 992px) {
    .incaspath-section {
        padding-top   : 10rem;
        padding-bottom: 8rem;
        padding-top   : 12rem;
        padding-bottom: 8rem;
    }
}

.incaspath-section .section-presentation {
    text-align: center;
    position  : relative;
}



.incaspath-section .section-presentation.inverse {
    color: #ccc;
    color: white;
}

.incaspath-section .section-presentation.inverse .section-title {
    color: white;
}

.incaspath-section .section-presentation.inverse .section-subtitle {
    color: #f0f0f0;
}

.incaspath-section .section-presentation.inverse .section-icon img {
    -webkit-filter: invert(97%) sepia(100%) saturate(1%) hue-rotate(174deg) brightness(108%) contrast(101%);
    filter        : invert(97%) sepia(100%) saturate(1%) hue-rotate(174deg) brightness(108%) contrast(101%);
}

.btn-incaspath-outer3 {
    margin-top: 3rem;
    text-align: center;
}

.btn-incaspath {
    display          : inline-block;
    font-size        : 1.4rem;
    font-family      : "Poppins", sans-serif;
    text-align       : center;
    border-radius    : 10rem;
    line-height      : 2.8rem;
    min-width        : 25rem;
    display          : -webkit-inline-box;
    display          : -ms-inline-flexbox;
    display          : inline-flex;
    -webkit-box-pack : center;
    -ms-flex-pack    : center;
    justify-content  : center;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    height           : 5rem;
    font-size        : 1.4rem;
    letter-spacing   : 1px;
    color            : #fff !important;
}

.outline-white {
    border: 1px solid white;
    color : white;
}

.btn-incaspath.link-ahead-icon::after {
    content            : "";
    width              : 0rem;
    height             : 2rem;
    overflow           : hidden;
    -webkit-transition : 0.3s all ease-in-out;
    transition         : 0.3s all ease-in-out;
    opacity            : 0;
    background-image   : url(../opt/right.min.svg);
    background-repeat  : no-repeat;
    background-position: right center;
    background-size    : contain;
    z-index            : 5;
    margin-left        : 0;
}

.btn-incaspath.link-ahead-icon:hover::after {
    opacity    : 1;
    width      : 2rem;
    margin-left: 0.5rem;
}

/* =================section footer=============== */


.back-to-top {
    position: relative;
    z-index : 2;
}

.back-to-top .btn-dark {
    width             : 35px;
    height            : 35px;
    border-radius     : 50%;
    padding           : 0;
    position          : fixed;
    bottom            : 20px;
    right             : 20px;
    background        : #2e2e2e;
    border-color      : #2e2e2e;
    display           : none;
    z-index           : 999;
    -webkit-transition: all 0.3s linear;
    -o-transition     : all 0.3s linear;
    transition        : all 0.3s linear;
}

.back-to-top .btn-dark:hover {
    cursor      : pointer;
    background  : #13c7b8;
    border-color: #13c7b8;
}

/* ============================= */
footer {
    position  : relative;
    bottom    : 0px;
    width     : 100%;
    background: #111;
}

.main-content-footer {
    display       : flex;
    padding: 1em 0;
}

.main-content-footer .box {
    flex-basis: 50%;
    padding   : 10px 20px;
}

.box h2 {
    font-size     : 1.125rem;
    font-weight   : 600;
    text-transform: uppercase;
}

.box .content {
    margin  : 20px 0 0 0;
    position: relative;
    padding: 1em 0;
}

.box .content:before {
    position  : absolute;
    content   : '';
    top       : -10px;
    height    : 2px;
    width     : 100%;
    background: #1a1a1a;
}

.box .content:after {
    position  : absolute;
    content   : '';
    height    : 2px;
    width     : 15%;
    background: #13c7b8;
    top       : -10px;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height       : 40px;
    width        : 40px;
    background   : #1a1a1a;
    line-height  : 40px;
    text-align   : center;
    font-size    : 18px;
    border-radius: 5px;
    transition   : 0.3s;
    color        : #13c7b8;

}

.left .content .social a span:hover {
    background: #13c7b8;
    color     : #fff;
}

.center .content .fas {
    font-size    : 1.4375rem;
    background   : #1a1a1a;
    height       : 45px;
    width        : 45px;
    line-height  : 45px;
    text-align   : center;
    border-radius: 50%;
    transition   : 0.3s;
    cursor       : pointer;
}

.center .content .fas:hover {
    background: #13c7b8;
}

.center .content .text {
    font-size   : 1.0625rem;
    font-weight : 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .text {
    font-size    : 1.0625rem;
    margin-bottom: 2px;
    color        : #656565;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width       : 100%;
    font-size   : 1.0625rem;
    background  : #151515;
    padding-left: 10px;
    border      : 1px solid #222222;
    color       : #fff;
}

.right form input:focus,
.right form textarea:focus {
    outline-color: #3498db;
    outline      : none;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
    width     : 100%;
}

.right form .btn button {
    height     : 40px;
    width      : 100%;
    border     : none;
    outline    : none;
    background : #13c7b8;
    font-size  : 1.0625rem;
    font-weight: 500;
    cursor     : pointer;
    transition : .3s;
}

.right form .btn button:hover {
    background: #000;
    color     : #fff;
}

.bottom center {
    padding   : 5px;
    font-size : 1.1rem;
    background: #151515;
}

.bottom center span {
    color: #656565;
}

.bottom center a {
    color          : #13c7b8;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom  : 0px;
    }

    .main-content-footer {
        flex-wrap     : wrap;
        flex-direction: column;
    }

    .main-content-footer .box {
        margin: 5px 0;
    }
}